section {
  display: block;
  padding: 60px 0;
  width: 100vw;
}
header {
  height: 80px;
  width: 100vw;
  background-color: #f8fcfd;
  border-bottom: 0.5px solid #87858542;
  position: fixed;
  z-index: 999;
}
footer {
  width: 100vw;
  height: 80px;
  position: relative;
  background-color: #178a04;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer h1 {
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 400;
}
#noBorderSection {
  padding: 100px 0 0;
}
#knowMoreButton {
  margin-top: 15px;
  padding: 5px 60px 5px 60px;
  border-style: none;
  border-radius: 10px;
  background-color: #178a04;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
  width: 300px;
  justify-content: center;
  display: flex;
}

#knowMoreButton:hover {
  background-color: #2fc716;
  transition: 0.2s;
}
#sectionWhite {
  background-color: #fff;
}
#sectionGreen {
  background-color: #178a04;
}
.boxInfoContent {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
  border-radius: 40px;
  -webkit-box-shadow: 10px 11px 10px -8px rgba(156, 156, 156, 0.2);
  -moz-box-shadow: 10px 11px 10px -8px rgba(156, 156, 156, 0.2);
  box-shadow: 10px 11px 10px -8px rgba(156, 156, 156, 0.2);
}
.leftContent h1 {
  font-size: 5rem;
  margin-bottom: 20px;
}
.leftContent h3 {
  font-size: 1.6rem;
  font-weight: 300;
  color: #6f6161;
  margin-left: 20px;
  width: 500px;
  line-height: 35px;
  text-align: justify;
}
.content {
  margin-top: 80px;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100vw;

  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.main {
  width: 100vw;
  height: auto;
  align-items: center;
  flex-direction: column;
  justify-content: stretch;
  display: flex;
}
.contentSection {
  max-width: 1250px;
  margin: auto;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

#lancamento {
  width: 60%;
}
.socialNetworks {
  display: flex;
  align-items: center;
}

.socialNetworks #iconButton img {
  height: 40px;
}

.socialNetworks #iconButton {
  cursor: pointer;
  transition: 0.3s;
  border-radius: 100%;
  border: none;
  background-color: #00000000;
  height: 40px;
}

.rightHeaderItems {
  display: flex;
  align-items: center;
}
.mainHeaderDesktop {
  max-width: 1250px;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
}
.menuItems {
  margin-left: 20px;
}
.menuItems a {
  font-weight: 300;
  margin: 20px;
  font-size: 2.4rem;
  transition: 0.3s;
}
.menuItems a:hover {
  color: #178a04;
  cursor: pointer;
  transition: 0.3s;
}

#zap #whatsAppIcon {
  color: #fff;
  font-size: 30px;
  margin-left: 10px;
}
#zap {
  margin: 15px;
  padding: 5px 40px 5px 40px;
  border-style: none;
  border-radius: 5px;
  background-color: #178a04;
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  display: flex;
}
.souApoiadorContentLeft {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
#zap:hover {
  background-color: #2fc716;
  transition: 0.2s;
}

#souApoiadorButton {
  margin-top: 15px;
  padding: 5px 60px 5px 60px;
  border-style: none;
  border-radius: 10px;
  background-color: #fff;
  color: #178a04;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
  width: 80%;
  justify-content: center;
  display: flex;
}
#souApoiadorButton:hover {
  background-color: #2fc716;
  color: #fff;
  transition: 0.2s;
}
#lema {
  width: 50%;
}
.souApoiadorContent {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.souApoiadorContent h2 {
  font-weight: 300;
  color: #fff;
  font-size: 2.4rem;
  width: 400px;

  line-height: 35px;
  text-align: center;
}
#souApoiadorIcon {
}
#backgroundHome {
  position: absolute;
  z-index: -1;
  height: 30%;
  top: 0;
  right: 0;
}
#logo {
  width: 100px;
  margin-left: 10px;
}

#fotoWady {
  width: 60%;
}
.leftContent {
  width: 50%;
  height: 100%;

  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.rightContent {
  height: 100%;
  width: 50%;
  justify-content: center;
  display: flex;
}

@media only screen and (max-width: 900px) {
  #souApoiadorButton {
    font-size: 2rem;
    width: 90%;
  }
  header {
    height: 60px;
  }
  #lema {
    width: 80%;
  }
  .souApoiadorContent {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }
  .souApoiadorContent h2 {
    font-weight: 300;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin-left: 0;
    width: 250px;
    line-height: 30px;
  }
  #souApoiadorIcon {
    width: 40%;
    margin-bottom: 20px;
  }
  .content {
    margin-top: 60px;
    flex-direction: column;
  }
  .main {
    width: 100vw;
    padding: 0 10px 0 10px;
    justify-content: space-between;
    height: auto;
  }
  .rightContent {
    margin-top: 20px;
    width: 90%;
  }
  #logo {
    width: 20%;
  }
  .leftContent {
    width: 100%;
    padding: 0;

    justify-content: space-between;
    padding-top: 20px;
  }

  .leftContent h1 {
    font-size: 2.8rem;
  }
  #fotoWady {
    width: 80%;
  }

  .leftContent h3 {
    font-size: 1.6rem;
    font-weight: 300;
    color: #6f6161;
    margin-left: 0;
    width: 80%;
    margin: 0 auto;
    line-height: 35px;
    text-align: justify;
  }

  #backgroundHome {
    top: 0;
    height: 8%;
  }
  .contentSection {
    flex-direction: column-reverse;
  }
  #noBorderSection {
    padding: 20px 0 0;
  }
  #noBorderSection .contentSection {
    flex-direction: row;
  }
  #noBorderSection .contentSection .rightContent img {
    width: 100%;
  }
  #sectionWhite .contentSection {
    flex-direction: column;
  }

  .menuItems .MuiButton-label {
    width: 100vw;
    height: 30px;
    margin: 10px;
  }
  .menuItems {
    margin-left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .socialNetworks {
    margin-top: 10px;
    flex-direction: column;
  }
}
