header {
  height: 80px;
  width: 100vw;
  background-color: #f8fcfd;
  border-bottom: 0.5px solid #87858542;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuMobile {
  width: 100%;
  align-items: center;
  justify-content: center;
  border-style: none;
  background-color: #00000000;
}
.menuMobile #menuMobileIcon {
  color: #313131;
  font-size: 50px;
}

#lancamento {
  width: 60%;
}
.socialNetworks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.socialNetworks #iconButton {
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 100%;
  border: none;
  background-color: #00000000;
}

#zap #whatsAppIcon {
  color: #fff;
  font-size: 30px;
  margin-left: 10px;
}
#zap {
  margin: 10px;
  padding: 5px 60px 5px 60px;
  border-style: none;
  border-radius: 10px;
  background-color: #35e046;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  display: flex;
}
.zap:hover {
  background-color: #53ef62;
  transition: 0.3s;
}

#backgroundHome {
  position: absolute;
  z-index: -1;
  background-color: #35e046;
  bottom: 0;
  width: 100%;
  height: 40%;
}
#logo {
  width: 80%;
}

#fotoWady {
  width: 90%;
}
.leftContent {
  width: 50%;
  height: 100%;
  padding-left: 100px;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.rightContent {
  height: 100%;
  width: 50%;
  justify-content: center;
  display: flex;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 4%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.footer h1 {
  height: auto;
  color: #1f2233;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: normal;
}

.footer a {
  color: #1551ec;
}

.main {
  padding: 0 100px 0 100px;
  width: 100vw;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: stretch;
  display: flex;
}
.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .content {
    flex-direction: column-reverse;
  }
  .main {
    padding: 0 10px 0 10px;
    justify-content: space-between;
  }
  .rightContent {
    height: 40vh;
    width: 100%;
  }
  .leftContent {
    width: 100%;
    padding: 0;
    height: 50vh;
  }

  .footer {
    margin-top: 10%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .footer h1 {
    font-size: 1.4rem;
  }

  #backgroundHome {
    height: 20%;
  }
  #logo {
    width: 80%;
  }

  #fotoWady {
    width: 90%;
  }
  #lancamento {
    width: 60%;
  }
  .socialNetworks #zap #whatsAppIcon {
    color: #fff;
    font-size: 30px;
    margin-left: 10px;
  }

  .socialNetworks #zap {
    margin: 10px;
    padding: 5px 40px 5px 40px;
    border-style: none;
    border-radius: 10px;
    background-color: #35e046;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .socialNetworks {
    width: 100%;
    margin: 0;
  }
}
