@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,300&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
}
a:link {
  text-decoration: none;
}
html {
  font-size: 62.5%;
}

html,
body,
#root {
}
div {
  display: block;
}

body {
  background-color: #f8fcfd;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button,
text {
  font-family: Roboto;
}

h1 {
  color: #26353e;
}
